APP_ENV=dev # dev or prod

POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops_secret
POSTGRES_DB=sentiment_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

API_PORT=8000

HF_MODEL_NAME=cardiffnlp/twitter-roberta-base-sentiment-latest
HF_MODEL_SAVE_PATH=ml_models/twitter-roberta-base-sentiment-latest
HF_MODEL_VERSION=v1.0.0