APP_ENV=dev # dev or prod

POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops_secret
POSTGRES_DB=sentiment_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

API_PORT=8000

HF_MODEL_NAME=frasem/sentiment-analysis-roberta
HF_MODEL_SAVE_PATH=ml_models/sentiment-analysis-roberta
HF_MODEL_VERSION=v1.0.0
HF_MODEL_REVISION=v1.0.0

GRAFANA_PORT=3000
GRAFANA_PASSWORD=admin

AIRFLOW_PORT=8080
AIRFLOW_PASSWORD=admin

AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow_secret
AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_PORT=5433