[submodule "ml_workspace/ml_workspace/datasets/sentiment-dataset"]
	path = ml_workspace/ml_workspace/datasets/sentiment-dataset
	url = https://huggingface.co/datasets/frasem/sentiment-dataset
[submodule "ml_workspace/datasets/sentiment-dataset"]
	path = ml_workspace/datasets/sentiment-dataset
	url = https://huggingface.co/datasets/frasem/sentiment-dataset
[submodule "ml_workspace/model"]
	path = ml_workspace/model
	url = https://huggingface.co/frasem/sentiment-analysis-roberta
